<ul class="nav nav-sidebar border-bottom">
  <li>
    <%= link_to spree.admin_documents_path, class: 'nav-link' do %>
      <%= image_tag 'file.svg', alt: Spree.t(:documents, scope: [:print_invoice]) %>
      <span><%= Spree.t(:documents, scope: [:print_invoice]) %></span>
    <% end %>
  </li>
</ul>
